.recipe-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--modal-background-color);
  z-index: 10000;
  background-color: rgba(62, 62, 62, 0.95);
  overflow-y: scroll;
}

.recipe-modal {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 1rem;
}

.modal-ingredient-list {
  width: 100%;
  border-bottom: solid 1px rgb(130, 130, 130);
  margin-bottom: 1rem;
}

.recipe-method {
  margin-bottom: 1rem;
  width: 100%;
}

.method-step {
  display: flex;
  margin: 0.5rem 0;
  gap: 0.7rem;
}

.modal-heading {
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  border-bottom: solid 2px rgb(15, 15, 110);
  text-align: center;
}

.recipe-modal h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.recipe-modal p {
  font-size: 0.9rem;
}

.modal-ingredient {
  width: 100%;
  padding: 0.3rem 0;
  border-top: solid 1px rgb(130, 130, 130);
}
