.recipe-suggester {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 1rem;
  padding: 0.5rem;
  border: solid 1px rgb(15, 15, 110);
  box-shadow: 2px 2px 4px rgb(182, 180, 180);
  border-radius: 10px;
  margin: auto 2.5rem;
}

.recipe-suggester h5 {
  margin: 0.5rem;
  padding: 0 2rem 0.3rem 2rem;
  border-bottom: 1px solid rgb(15, 15, 110);
  text-align: center;
  font-size: 1.2rem;
}

.filters-list {
  margin: 0.5rem;
  font-size: 0.9rem;
}

.filters-text {
  margin-left: 0.2rem;
  font-style: italic;
}

.suggester-btn-container {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .recipe-suggester h5 {
    margin-top: 1rem;
    padding: 0 2rem 0.4rem 2rem;
    border-bottom: 2px solid rgb(15, 15, 110);
    font-size: 1.3rem;
  }
}
