.meal-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.meal-types p {
  text-transform: capitalize;
  font-family: inherit;
  font-size: 0.9rem;
}

.meal-type-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 70px;
  padding: 0.5rem;
  border: solid 2px transparent !important;
}

.meal-type-image {
  width: 50px;
  margin-bottom: 0.3rem;
}

.selected-type {
  border: solid 2px rgb(15, 15, 110) !important;
  border-radius: 10px;
}
