.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--main-color);
}

.recipe-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe-title-container h5 {
  width: 80%;
  margin-left: 1rem;
  font-size: 1rem;
}

.recipe-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1rem;
  height: 1rem;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  font-size: 0.9rem;
}

.recipe-img {
  width: fit-content;
  max-height: 200px;
}

.recipe p {
  font-size: 0.8rem;
  display: inline;
}

.recipe-facts {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  flex-wrap: wrap;
}

.recipe-summary {
  padding: 0.5rem;
}
