.favourite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--main-color);
}

.fav-btn-container {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.fav-btn-confirm {
  margin: 0.5rem;
  border: 3px solid rgb(23, 110, 15);
  color: rgb(23, 110, 15);
  border-radius: 20px;
}
