.recipe-source-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0.5rem;
}
.recipe-source{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem
}

.recipe-source-icon{
    display: block;
    width: 70px;
    height: 70px;
    color:rgb(15, 15, 110);
}

.recipe-source p {
    font-size: 0.9rem;
}