.shopping-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sort-options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 1rem;
}

.sort-options span {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--main-color);
}

.sort-btn {
  padding: 5px 25px;
  color: var(--main-color);
  background-color: white;
  border-radius: 45px;
  border: 1px solid var(--main-color);
  box-shadow: 1px 1px 3px rgb(182, 180, 180);
  font-size: 0.8rem;
  cursor: pointer;
}

.selected {
  color: white;
  background-color: var(--main-color);
}

.list-section {
  width: 90%;
  max-width: 600px;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--main-color);
}

.list-subheading {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.list-bottom-button {
  margin-top: 1rem;
}

.add-btn {
  padding: 0.2rem;
  color: rgb(155, 155, 155);
  background-color: white;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.deleted-ingredient-text {
  margin: 1rem auto 0;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}
