.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.filter-labels {
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  .filters-container {
    padding: 0 3rem 1rem;

    & h5 {
      margin-bottom: 1rem;
    }
  }
  .filter-option {
    margin-bottom: 1rem;
  }
  .filter-labels {
    font-size: 1.1rem;
  }
}
