.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--main-color);
}

.recipe-list-btn-container {
  display: flex;
  gap: 1rem;
  margin: 0.5rem;
}

.add-recipe-btn {
  border: 3px solid rgb(13, 150, 1);
  border-radius: 20px;
  color: rgb(13, 150, 1);
  font-weight: bold;
}
