@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
  --main-color: rgb(15, 15, 110);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  /* Stop elements from highlighting blue when tapped -  mobile */
  -webkit-tap-highlight-color: transparent;
}

.app {
  /* Styles below to push footer to bottem */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* Main element will take up all space not taken by nav and footer */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border: 1px solid var(--main-color);
  padding: 5px 20px;
  color: var(--main-color);
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(182, 180, 180);
  cursor: pointer;
}

.bold-btn {
  background-color: rgb(15, 15, 110);
  color: white;
}

.major-heading {
  width: 90%;
  max-width: 800px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(15, 15, 110);
  border-bottom: solid 2px rgb(15, 15, 110);
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 600px) {
  .major-heading {
    font-size: 1.5rem;
  }
}
