.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: white;
  box-shadow: 0px 1px 6px rgb(84, 84, 84);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: var(--main-color);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.title-icon {
  height: 25px;
  width: 25px;
  margin-bottom: 5px;
}

.menu-btn {
  height: 30px;
  width: 30px;
}

.content-nav {
  display: flex;
}

.content-nav-btn {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border: solid 1px var(--main-color);
  background-color: white;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}

.nav-selected {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 390px) {
  .title {
    font-size: 1rem;
  }

  .title-icon {
    width: 20px;
    height: 20px;
  }

  .menu-btn {
    height: 20px;
    width: 20px;
  }
}
